ol, ul {
    list-style: none;
}

* {
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
}
canvas{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
}
.actions {
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.actions svg {
    width: 1.5em;
    height: 1.5em;
    transition: all 0.3s;
    margin: 0 7px;
}

.actions svg.active {
    fill: red;
    transform: scale(1.2);
}
.colors {
    position: fixed;
    top: 40px;
    left: 10px;
}

.colors >li {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-shadow:  0 0 3px rgba(0, 0, 0, 0.25);
    margin: 10px 0;
    transition: all 0.3s;
}

.colors >li.red {
    background: red;
}

.colors >li.green {
    background: green;
}

.colors >li.blue {
    background: blue;
}

.colors >li.active{
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.95);
    transform: scale(1.2);
}
.size{
    position: fixed;
    right: 20px;
    top: -6px;
}
.size >li{
    margin: 20px 0;
}
.size >li.active{
    box-shadow: 0px 0px 6px rgb(59, 59, 59);
}
.size > .thin{
    border-top: 3px solid black;
    height: 0;
    width: 30px;
}
.size > .middle{
    border-top: 5px solid black;
    height: 0;
    width: 30px;
}
.size > .thick{
    border-top: 8px solid black;
    height: 0;
    width: 30px;
}